<a href="https://colab.research.google.com/github/Felipe4444/Portafolio/blob/v1/Portafolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Uso de la api del Banco Mundial

La versión `1.0.2` del paquete wbgapi de python ya está disponible. Este paquete

In [ ]:
%pip install wbgapi

Collecting wbgapi
  Downloading wbgapi-1.0.12-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from wbgapi) (2.32.4)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.12/dist-packages (from wbgapi) (6.0.3)
Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (from wbgapi) (0.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->wbgapi) (2025.11.12)
Downloading wbgapi-1.0.12-py3-none-any.whl (36 kB)
Installing collected packages: wbgapi
Successfully installed wbgapi-1.0.12

In [ ]:
import wbgapi as wb
import pandas as pd
from google.colab import drive
from datetime import datetime
drive.mount('/content/drive')

import sys
sys.path.append('/content/drive/MyDrive/Ciencia Datos Economía')

import my_func as fn

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Usando la API del banco Mundial es posible aceder a estadísticas diversas sobre desarrollo económico. A continuación extraeremos informacion de 65 indicadores económicos

In [ ]:
# Indicadores a consultar
dicc_indicadores_wb = {
    "NY.GDP.MKTP.PP.KD": "GDP, PPP (constant 2021 international $)",
    "SP.POP.GROW": "Population growth (annual %)",
    "SP.POP.TOTL": "Population, total",
    "SP.POP.TOTL.FE.IN": "Population, female",
    "SP.POP.TOTL.FE.ZS": "Population, female (% of total population)",
    "SP.POP.TOTL.MA.IN": "Population, male",
    "SP.POP.TOTL.MA.ZS": "Population, male (% of total population)",
    "SP.URB.GROW": "Urban population growth (annual %)",
    "SP.URB.TOTL": "Urban population",
    "SP.URB.TOTL.IN.ZS": "Urban population (% of total population)",
    "SP.RUR.TOTL": "Rural population",
    "SP.RUR.TOTL.ZG": "Rural population growth (annual %)",
    "SP.RUR.TOTL.ZS": "Rural population (% of total population)",
    "SL.TLF.TOTL.IN": "Labor force, total",
    "SL.TLF.TOTL.FE.ZS": "Labor force, female (% of total labor force)",
    "SL.UEM.TOTL.FE.NE.ZS": "Unemployment, female (% of female labor force) (national estimate)",
    "SL.UEM.TOTL.FE.ZS": "Unemployment, female (% of female labor force) (modeled ILO estimate)",
    "SL.UEM.TOTL.MA.NE.ZS": "Unemployment, male (% of male labor force) (national estimate)",
    "SL.UEM.TOTL.MA.ZS": "Unemployment, male (% of male labor force) (modeled ILO estimate)",
    "SL.UEM.TOTL.NE.ZS": "Unemployment, total (% of total labor force) (national estimate)",
    "SL.UEM.TOTL.ZS": "Unemployment, total (% of total labor force) (modeled ILO estimate)",
    "FP.CPI.TOTL.ZG": "Inflation, consumer prices (annual %)",
    "GC.TAX.EXPT.CN": "Taxes on exports (current LCU)",
    "GC.TAX.EXPT.ZS": "Taxes on exports (% of tax revenue)",
    "NE.EXP.GNFS.KD.ZG": "Exports of goods and services (annual % growth)",
    "NE.EXP.GNFS.KN": "Exports of goods and services (constant LCU)",
    "NE.EXP.GNFS.ZS": "Exports of goods and services (% of GDP)",
    "NV.AGR.TOTL.CD": "Agriculture, forestry, and fishing, value added (current US$)",
    "NV.AGR.TOTL.CN": "Agriculture, forestry, and fishing, value added (current LCU)",
    "NV.IND.MANF.CD": "Manufacturing, value added (current US$)",
    "NV.IND.MANF.CN": "Manufacturing, value added (current LCU)",
    "NV.IND.TOTL.CD": "Industry (including construction), value added (current US$)",
    "NV.IND.TOTL.CN": "Industry (including construction), value added (current LCU)",
    "NV.SRV.TOTL.CD": "Services, value added (current US$)",
    "NV.SRV.TOTL.CN": "Services, value added (current LCU)",
    "GE.EST": "Government Effectiveness: Estimate",
    "NE.CON.GOVT.KN": "General government final consumption expenditure (constant LCU)",
    "NE.CON.GOVT.ZS": "General government final consumption expenditure (% of GDP)",
    "NE.CON.PRVT.CD": "Households and NPISHs Final consumption expenditure (current US$)",
    "NE.CON.PRVT.CN": "Households and NPISHs Final consumption expenditure (current LCU)",
    "GC.DOD.TOTL.CN": "Central government debt, total (current LCU)",
    "GC.DOD.TOTL.GD.ZS": "Central government debt, total (% of GDP)",
    "BM.KLT.DINV.CD.WD": "Foreign direct investment, net outflows (BoP, current US$)",
    "BX.KLT.DINV.WD.GD.ZS": "Foreign direct investment, net inflows (% of GDP)",
    "EG.ELC.LOSS.ZS": "Electric power transmission and distribution losses (% of output)",
    "EG.USE.ELEC.KH.PC": "Electric power consumption (kWh per capita)",
    "EN.GHG.CO2.IP.MT.CE.AR5": "Carbon dioxide emissions from Industrial Processes (Mt CO2e)",
    "SE.PRM.NENR": "School enrollment, primary (% net)",
    "SE.PRM.NENR.FE": "School enrollment, primary, female (% net)",
    "SE.PRM.NENR.MA": "School enrollment, primary, male (% net)",
    "SE.SEC.ENRR": "School enrollment, secondary (% gross)",
    "SE.SEC.ENRR.FE": "School enrollment, secondary, female (% gross)",
    "SE.SEC.ENRR.MA": "School enrollment, secondary, male (% gross)",
    "SE.TER.ENRR": "School enrollment, tertiary (% gross)",
    "SE.TER.ENRR.FE": "School enrollment, tertiary, female (% gross)",
    "SE.TER.ENRR.MA": "School enrollment, tertiary, male (% gross)",
    "SP.DYN.LE00.IN": "Life expectancy at birth, total (years)",
    "SP.DYN.LE00.FE.IN": "Life expectancy at birth, female (years)",
    "SP.DYN.LE00.MA.IN": "Life expectancy at birth, male (years)",
    "EG.CFT.ACCS.ZS": "Access to clean fuels and technologies for cooking (% of population)",
    "EG.CFT.ACCS.RU.ZS": "Access to clean fuels and technologies for cooking, rural (% of rural population)",
    "EG.CFT.ACCS.UR.ZS": "Access to clean fuels and technologies for cooking, urban (% of urban population)",
    "IT.NET.USER.FE.ZS": "Individuals using the Internet, female (% of female population)",
    "IT.NET.USER.MA.ZS": "Individuals using the Internet, male (% of male population)",
    "IT.NET.USER.ZS": "Individuals using the Internet (% of population)",
}

In [ ]:
#Descargar datos
paises_wb_raw = fn.descargar_en_chunks(indicadores= dicc_indicadores_wb, años = 2023, chunk_size=15)

Descargando bloque 1: ['NY.GDP.MKTP.PP.KD', 'SP.POP.GROW', 'SP.POP.TOTL', 'SP.POP.TOTL.FE.IN', 'SP.POP.TOTL.FE.ZS', 'SP.POP.TOTL.MA.IN', 'SP.POP.TOTL.MA.ZS', 'SP.URB.GROW', 'SP.URB.TOTL', 'SP.URB.TOTL.IN.ZS', 'SP.RUR.TOTL', 'SP.RUR.TOTL.ZG', 'SP.RUR.TOTL.ZS', 'SL.TLF.TOTL.IN', 'SL.TLF.TOTL.FE.ZS']
Descargando bloque 2: ['SL.UEM.TOTL.FE.NE.ZS', 'SL.UEM.TOTL.FE.ZS', 'SL.UEM.TOTL.MA.NE.ZS', 'SL.UEM.TOTL.MA.ZS', 'SL.UEM.TOTL.NE.ZS', 'SL.UEM.TOTL.ZS', 'FP.CPI.TOTL.ZG', 'GC.TAX.EXPT.CN', 'GC.TAX.EXPT.ZS', 'NE.EXP.GNFS.KD.ZG', 'NE.EXP.GNFS.KN', 'NE.EXP.GNFS.ZS', 'NV.AGR.TOTL.CD', 'NV.AGR.TOTL.CN', 'NV.IND.MANF.CD']
Descargando bloque 3: ['NV.IND.MANF.CN', 'NV.IND.TOTL.CD', 'NV.IND.TOTL.CN', 'NV.SRV.TOTL.CD', 'NV.SRV.TOTL.CN', 'GE.EST', 'NE.CON.GOVT.KN', 'NE.CON.GOVT.ZS', 'NE.CON.PRVT.CD', 'NE.CON.PRVT.CN', 'GC.DOD.TOTL.CN', 'GC.DOD.TOTL.GD.ZS', 'BM.KLT.DINV.CD.WD', 'BX.KLT.DINV.WD.GD.ZS', 'EG.ELC.LOSS.ZS']
Descargando bloque 4: ['EG.USE.ELEC.KH.PC', 'EN.GHG.CO2.IP.MT.CE.AR5', 'SE.PRM.NENR', 'SE.PRM.NENR.FE', 'SE.PRM.NENR.MA', 'SE.SEC.ENRR', 'SE.SEC.ENRR.FE', 'SE.SEC.ENRR.MA', 'SE.TER.ENRR', 'SE.TER.ENRR.FE', 'SE.TER.ENRR.MA', 'SP.DYN.LE00.IN', 'SP.DYN.LE00.FE.IN', 'SP.DYN.LE00.MA.IN', 'EG.CFT.ACCS.ZS']
Descargando bloque 5: ['EG.CFT.ACCS.RU.ZS', 'EG.CFT.ACCS.UR.ZS', 'IT.NET.USER.FE.ZS', 'IT.NET.USER.MA.ZS', 'IT.NET.USER.ZS']

##Analisis exploratorio de datos

In [ ]:
paises_wb_raw.tail()

,country,Country,NY.GDP.MKTP.PP.KD,SL.TLF.TOTL.FE.ZS,SL.TLF.TOTL.IN,SP.POP.GROW,SP.POP.TOTL,SP.POP.TOTL.FE.IN,SP.POP.TOTL.FE.ZS,SP.POP.TOTL.MA.IN,...,SE.TER.ENRR.FE,SE.TER.ENRR.MA,SP.DYN.LE00.FE.IN,SP.DYN.LE00.IN,SP.DYN.LE00.MA.IN,EG.CFT.ACCS.RU.ZS,EG.CFT.ACCS.UR.ZS,IT.NET.USER.FE.ZS,IT.NET.USER.MA.ZS,IT.NET.USER.ZS
261,CEB,Central Europe and the Baltics,4.224592e+12,45.669942,49096984.0,0.103859,100175859.0,51635336.0,51.544691,48540523.0,...,80.939987,56.712559,81.624679,77.896784,74.354344,NaN,NaN,NaN,NaN,NaN
262,CSS,Caribbean small states,1.333323e+11,43.965332,1919128.0,0.501131,4519904.0,2293907.0,50.751230,2225997.0,...,NaN,NaN,76.456921,73.171645,69.986624,NaN,NaN,NaN,NaN,NaN
263,ARB,Arab World,8.076341e+12,19.141318,132483437.0,2.255866,482105978.0,232702770.0,48.267971,249403208.0,...,34.757931,31.807100,74.418910,72.444678,70.619437,NaN,NaN,NaN,NaN,NaN
264,AFW,Africa Western and Central,2.482181e+12,46.355771,212022202.0,2.386204,509398589.0,252899429.0,49.646669,256499160.0,...,NaN,NaN,59.997102,58.855722,57.752356,NaN,NaN,NaN,NaN,38.1
265,AFE,Africa Eastern and Southern,2.963096e+12,47.278110,288482369.0,2.520818,750503764.0,379025748.0,50.502844,371478016.0,...,NaN,NaN,67.914779,65.146291,62.395547,NaN,NaN,NaN,NaN,32.4

Al revisar los primeros y ultimos registros se observa que la extraccion de datos contiene datos de paises y de areas geograficas

In [ ]:
# Seleccionar solamente paises usando código ISO
table_dict = vars(wb.economy.info())
df_paises = pd.DataFrame(table_dict.get('items'))
iso_list = list(df_paises[df_paises['aggregate'] == False]['id'])

In [ ]:
paises_wb_raw = paises_wb_raw[paises_wb_raw['country'].isin(iso_list)].reset_index(drop=True)

Una vez seleccionado solamente los países procederemos al anális exploratorio de los datos

In [ ]:
paises_wb_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 67 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  197 non-null    object
 1   Country                  197 non-null    object
 2   NY.GDP.MKTP.PP.KD        197 non-null    float64
 3   SL.TLF.TOTL.FE.ZS        173 non-null    float64
 4   SL.TLF.TOTL.IN           173 non-null    float64
 5   SP.POP.GROW              197 non-null    float64
 6   SP.POP.TOTL              197 non-null    float64
 7   SP.POP.TOTL.FE.IN        197 non-null    float64
 8   SP.POP.TOTL.FE.ZS        197 non-null    float64
 9   SP.POP.TOTL.MA.IN        197 non-null    float64
 10  SP.POP.TOTL.MA.ZS        197 non-null    float64
 11  SP.RUR.TOTL              196 non-null    float64
 12  SP.RUR.TOTL.ZG           188 non-null    float64
 13  SP.RUR.TOTL.ZS           196 non-null    float64
 14  SP.URB.GROW              196 non-null    float64
 15  SP.URB.TOTL              196 non-null    float64
 16  SP.URB.TOTL.IN.ZS        196 non-null    float64
 17  FP.CPI.TOTL.ZG           171 non-null    float64
 18  GC.TAX.EXPT.CN           28 non-null     float64
 19  GC.TAX.EXPT.ZS           28 non-null     float64
 20  NE.EXP.GNFS.KD.ZG        156 non-null    float64
 21  NE.EXP.GNFS.KN           156 non-null    float64
 22  NE.EXP.GNFS.ZS           167 non-null    float64
 23  NV.AGR.TOTL.CD           182 non-null    float64
 24  NV.AGR.TOTL.CN           183 non-null    float64
 25  NV.IND.MANF.CD           170 non-null    float64
 26  SL.UEM.TOTL.FE.NE.ZS     105 non-null    float64
 27  SL.UEM.TOTL.FE.ZS        173 non-null    float64
 28  SL.UEM.TOTL.MA.NE.ZS     105 non-null    float64
 29  SL.UEM.TOTL.MA.ZS        173 non-null    float64
 30  SL.UEM.TOTL.NE.ZS        105 non-null    float64
 31  SL.UEM.TOTL.ZS           173 non-null    float64
 32  BM.KLT.DINV.CD.WD        166 non-null    float64
 33  BX.KLT.DINV.WD.GD.ZS     190 non-null    float64
 34  EG.ELC.LOSS.ZS           70 non-null     float64
 35  GC.DOD.TOTL.CN           31 non-null     float64
 36  GC.DOD.TOTL.GD.ZS        31 non-null     float64
 37  GE.EST                   193 non-null    float64
 38  NE.CON.GOVT.KN           154 non-null    float64
 39  NE.CON.GOVT.ZS           160 non-null    float64
 40  NE.CON.PRVT.CD           158 non-null    float64
 41  NE.CON.PRVT.CN           159 non-null    float64
 42  NV.IND.MANF.CN           171 non-null    float64
 43  NV.IND.TOTL.CD           183 non-null    float64
 44  NV.IND.TOTL.CN           184 non-null    float64
 45  NV.SRV.TOTL.CD           183 non-null    float64
 46  NV.SRV.TOTL.CN           184 non-null    float64
 47  EG.CFT.ACCS.ZS           0 non-null      float64
 48  EG.USE.ELEC.KH.PC        71 non-null     float64
 49  EN.GHG.CO2.IP.MT.CE.AR5  190 non-null    float64
 50  SE.PRM.NENR              0 non-null      float64
 51  SE.PRM.NENR.FE           0 non-null      float64
 52  SE.PRM.NENR.MA           0 non-null      float64
 53  SE.SEC.ENRR              137 non-null    float64
 54  SE.SEC.ENRR.FE           134 non-null    float64
 55  SE.SEC.ENRR.MA           133 non-null    float64
 56  SE.TER.ENRR              122 non-null    float64
 57  SE.TER.ENRR.FE           121 non-null    float64
 58  SE.TER.ENRR.MA           121 non-null    float64
 59  SP.DYN.LE00.FE.IN        197 non-null    float64
 60  SP.DYN.LE00.IN           197 non-null    float64
 61  SP.DYN.LE00.MA.IN        197 non-null    float64
 62  EG.CFT.ACCS.RU.ZS        0 non-null      float64
 63  EG.CFT.ACCS.UR.ZS        0 non-null      float64
 64  IT.NET.USER.FE.ZS        57 non-null     float64
 65  IT.NET.USER.MA.ZS        57 non-null     float64
 66  IT.NET.USER.ZS           176 non-null    float64
dtypes: float64(65), object(2)
memory usage: 103.2+ KB

Existen variables con un alto volumen de datos faltantes. Usaremos la sgte. regla para el tratamiento de los mismos:
- Si `NaN` > 15% Se procede a eliminar la variable.
- Si `NaN` < 15% Se procede a imputar los datos

In [ ]:
#Condicion booleana
mask_bool = paises_wb_raw.isna().mean() > 0.15
#Seleccion columnas nulas
drop_columns = list(paises_wb_raw.isna().mean()[mask_bool].index)
#Eliminar columnas con altos porcentajes de nulos
paises_wb = paises_wb_raw.drop(columns=drop_columns)

In [ ]:
paises_wb

,country,Country,NY.GDP.MKTP.PP.KD,SL.TLF.TOTL.FE.ZS,SL.TLF.TOTL.IN,SP.POP.GROW,SP.POP.TOTL,SP.POP.TOTL.FE.IN,SP.POP.TOTL.FE.ZS,SP.POP.TOTL.MA.IN,...,NV.IND.MANF.CN,NV.IND.TOTL.CD,NV.IND.TOTL.CN,NV.SRV.TOTL.CD,NV.SRV.TOTL.CN,EN.GHG.CO2.IP.MT.CE.AR5,SP.DYN.LE00.FE.IN,SP.DYN.LE00.IN,SP.DYN.LE00.MA.IN,IT.NET.USER.ZS
0,ZWE,Zimbabwe,5.624918e+10,49.843240,6232464.0,1.677096,16340822.0,8559888.0,52.383460,7780934.0,...,8.791192e+09,9.266224e+09,1.407335e+10,2.198816e+10,3.339515e+10,0.7563,65.013,62.775,60.226,38.4266
1,ZMB,Zambia,7.612916e+10,46.170619,7147630.0,2.794068,20723965.0,10467717.0,50.510204,10256248.0,...,4.739602e+10,9.682008e+09,1.956929e+11,1.566890e+10,3.167001e+11,1.4575,68.673,66.349,63.936,33.0000
2,PSE,West Bank and Gaza,2.769440e+10,NaN,NaN,2.393265,5165775.0,2598445.0,50.301172,2567330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,71.502,65.170,59.691,86.6377
3,VNM,Viet Nam,1.359364e+12,48.623244,56799003.0,0.671429,100352192.0,51201223.0,51.021529,49150969.0,...,2.495417e+15,1.630505e+11,3.878535e+15,1.834968e+11,4.364896e+15,49.3190,79.264,74.588,69.877,78.0800
4,VUT,Vanuatu,9.991622e+08,46.126995,115453.0,2.324816,320409.0,158611.0,49.502667,161798.0,...,NaN,NaN,NaN,NaN,NaN,0.0010,73.927,71.477,69.445,45.7313
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,AGO,Angola,2.664516e+11,49.450638,15430003.0,3.080655,36749906.0,18568216.0,50.525887,18181690.0,...,4.956813e+12,3.839411e+10,2.805991e+13,3.375450e+10,2.466910e+13,1.8715,67.144,64.617,62.099,44.7581
193,AND,Andorra,5.225828e+09,NaN,NaN,1.433748,80856.0,39502.0,48.854754,41354.0,...,1.189300e+08,4.704167e+08,4.350600e+08,2.964125e+09,2.741340e+09,NaN,86.107,84.041,82.100,95.4456
194,DZA,Algeria,6.998184e+11,16.830056,13174228.0,1.498976,46164219.0,22614984.0,48.988123,23549235.0,...,3.126811e+12,9.349633e+10,1.270082e+13,1.129566e+11,1.534436e+13,16.2596,77.696,76.261,74.895,76.9081
195,ALB,Albania,4.940567e+10,44.994454,1376643.0,-1.148418,2745972.0,1388342.0,50.559226,1357630.0,...,1.629956e+11,5.420201e+09,5.455161e+11,1.129263e+10,1.136547e+12,1.0905,81.446,79.602,77.728,83.1356
196,AFG,Afghanistan,8.223848e+10,6.846247,8866507.0,2.135594,41454761.0,20530683.0,49.525513,20924078.0,...,1.018710e+11,2.306945e+09,1.816950e+11,7.954241e+09,6.264760e+11,0.0879,67.536,66.035,64.467,17.7089

# A continuación revisaremos la cantidad de datos de nuestro DataFrame

In [ ]:
print(f'El dataFrame contiene {paises_wb.shape[0]} filas y {paises_wb.shape[1]}columnas, de las cuales {len(paises_wb.isna().mean()[paises_wb.isna().mean()>0].index)} contiene registros nulos bajo el 15%')

El dataFrame contiene 197 filas y 36columnas, de las cuales 24 contiene registros nulos bajo el 15%